<div block="page">
  <div class="container flex">
    <div block="card" mod="full">
      <div elem="header">
        ТЕСТ
        <div class="float-right text-success" ng-if="$ctrl.status">
          ОЧКИ: {{$ctrl.status.score}}
        </div>
      </div>
      <div elem="body" class="text-center" style="min-height:300px;">
        <div>Выберите правильный перевод:</div>
        <h1>{{ $ctrl.task.word }}</h1>
        <div class="mv+">
          <div class="p display-inline-block" ng-repeat="word in $ctrl.task.answers">
            <ui-btn type="{{$ctrl.getButtonType(word)}}" ng-disabled="$ctrl.isButtonDisabled(word)" ng-click="$ctrl.setAnswer(word)">{{word}}</ui-btn>
          </div>
        </div>

        <div class="mv+" ng-if="$ctrl.answer" ng-class="{ 'text-danger': $ctrl.answer !== $ctrl.rightAnswer, 'text-success': $ctrl.answer === $ctrl.rightAnswer }">
          <h1>{{ $ctrl.answer === $ctrl.rightAnswer ? 'ВЕРНО!' : 'НЕВЕРНО!'}}</h1>
        </div>

        <ui-btn ng-if="$ctrl.answer" ng-click="$ctrl.next()" type="primary">Дальше</ui-btn>
      </div>
    </div>
  </div>
</div>
