@import 'variables';

@import "styles/reset";
@import "styles/normalize";
@import "styles/box-sizing";
@import "styles/spacing";
@import "styles/typography";

body {
  background: #eee;
}

.section {

}

.container {
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

[ui-view] {
  padding-top: 68px;
}

td, th {
  padding: @padding;
}

.ng-cloak {
  display: none;
}

.text-default {
  color: #444;
}

.text-danger {
  color: @danger;
}

.text-success {
  color: @primary;
}

.bg-success {
  background-color: @primary;
  color: white;
}