<!doctype html>{% var opts = o.htmlWebpackPlugin.options; %}
<html ng-app="app" block="app" lang="en">
<head>
  <title>{%= opts.config.title %}</title>
  <meta charset="utf-8"/>
  <meta name="fragment" content="!"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <link href="/icon.png" type="image/png" rel="shortcut icon">
</head>
<body>
<base href="/">

<div block="navbar">
  <div elem="container">
    <div elem="title" ng-bind="::$config.title" ui-sref="landing"></div>
  </div>
</div>

<div class="section">
  <div ui-view autoscroll="true"></div>
</div>

</body>
</html>
