<div block="page">
  <div class="container flex">
    <div block="card" mod="full">
      <div elem="header">
        ТЕСТ
      </div>
      <div elem="body">
        <p class="mb+">Пожалуйста, введи ваше имя:</p>
        
        <form ng-submit="$ctrl.submit()">
          <ui-input id="username" model="$ctrl.model.username" type="text" label="Имя" required="true" ></ui-input>
        </form>
        
        <div class="mt+">
          <ui-btn type="primary" ng-click="$ctrl.submit()">Дальше</ui-btn>
        </div>
    </div>
  </div>
</div>
