<button block="btn" mod="primary: $ctrl.type === 'primary'; default: $ctrl.type === 'default'; danger: $ctrl.type === 'danger'; success: $ctrl.type === 'success'">
  <span elem="container"><span ng-transclude></span><span ng-bind="$ctrl.text"></span></span>
</button>