<div block="page">
  <div class="container flex">
    <div block="card" mod="full">
      <div elem="header">
        РЕЗУЛЬТАТЫ
      </div>
      <div elem="body" class="text-center">
        <h1 class="text-success" ng-if="$ctrl.status">ВАШ РЕЗУЛЬТАТ - {{$ctrl.status.score}}</h1>

        <ui-btn type="primary" ng-click="$ctrl.again()">Еще раз</ui-btn>

        <h2 class="mt+++">Таблица рекордов</h2>

        <div ng-if="$ctrl.records">
          <table style="width: 100%; line-height: 32px;">
            <thead>
            <tr>
              <th class="text-left"></th>
              <th class="text-left" style="width: 200px;">Имя</th>
              <th class="text-right">Очки</th>
              <th class="text-right">Ошибки</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="record in $ctrl.records" ng-class="{ 'bg-success': record._id === $ctrl.testId }">
              <td class="text-left">#{{$index + 1}}</td>
              <td class="text-left">{{record.username}}</td>
              <td class="text-right">{{record.score}}</td>
              <td class="text-right">{{record.mistakes}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
